body{
    height: 100vh;

    display: flex;
    
    align-items: center;
    flex-direction: column;

    background-image: url("background.jpg");
    background-size: cover;

}
.products {
    flex: 1;

    width: auto;
    height: auto;
    

    display: flex;
    flex-direction: column;
    
}
.block {
    
    margin-top: 10px;
    padding: 10px;

    
    background-color: rgb(54, 48, 48);
    background: linear-gradient();
    border-radius: 20px;

    border: 10px inset rgba(100, 95, 95, 0.4);
}
.block_inputs{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.inputs{
    padding-top: 10px;
    padding-bottom: 10px;
}
.inputs input {
    border: 1px solid gray;
    border-radius: 5px;

    background-color: gainsboro;

    font-family: inherit;
}
.heading{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gainsboro;
} 
