body {
    height: 100%;
    width: 100%;
    
    background-image: url("denim.webp");
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
}
#main h1 {
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#header {

    flex: 0 0 auto;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
#mainContainerForBlocks{
    flex: 1 0 auto;
    
    height: auto;
    width: 50%;

    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 15px; 
    padding-right: 15px;
}
.block{
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: azure;
    border-radius: 15px;
}

#footer{

    width: 100%;
    display: flex;

    padding-bottom: 10px;
    text-align: center;
    justify-content: center;

    color: azure;

    height: 50px;

    margin-top: auto;
    bottom: 0;
}
.headerRight a {
    margin: 0 5px;
    padding: 15px;
    font-weight: bold;

    text-decoration: none;
    color: azure;
}
a:hover{
    color: rgb(104, 110, 110);
}
.headerLeft{
    padding-left: 15px;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 20px;
    line-height: 1.5;
    font-size: large;
}

@media (max-width: 768px) {
    #mainContainerForBlocks {
        width: 90%; 
    }
    .block p {
        font-size: medium; 
        text-indent: 0; 
    }
    #header {
        flex-direction: column;
        align-items: flex-start; 
        padding: 10px;
    }
    .headerRight a {
        padding: 10px;
        font-size: 14px;
    }
    .headerLeft h1 {
        font-size: xx-large; 
    }
}