body {
    height: 100%;
    width: 100%;
    
    background-image: url("denim.webp");
}
#main{
    display: flex;
    flex-direction: column;
    align-items: center;

    min-height: 100vh;
}
#header {

    flex: 0 0 auto;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    color: #F9F6F1;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}
#mainContainer{
    flex: 1 0 auto;
    background-color: #F9F6F1;
    border-radius: 15px;
    height: auto;
    width: 80%;

    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 15px; 
    padding-right: 15px;
    
}
#footer{
    width: 100%;
    display: flex;

    
    text-align: center;
    justify-content: center;

    color: #F9F6F1;

    height: 50px;

    margin-top: auto;
    bottom: 0;
}
.headerRight a {
    margin: 0 5px;
    padding: 15px;
    font-weight: bold;

    text-decoration: none;
    color: #F9F6F1;
}
a:hover{
    color: rgb(104, 110, 110);
}
.headerLeft{
    padding-left: 15px;
}
p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1;
    text-indent: 20px;
    font-size: large;
}
@media (max-width: 768px) {
    #header {
        flex-direction: column; 
        align-items: flex-start;
        padding: 10px;
    }

    .headerRight {
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    
    .headerRight a {
        padding: 10px;
        font-size: 14px; 
    }

    .headerLeft h1 {
        font-size: xx-large; 
    }

}